body {
    margin:0;
    padding :0;
}

.header {
    background-color: white;
    border-bottom: 1px solid #333;
}

.container {
    width : 980px;
    margin : auto;
}

.container-left {
    padding-top : 20px;
    padding-bottom : 20px;
}

.logo {
    margin-right : 15px;
    float : left;
}

.logo img {
    display : block;
}

menu {
    float : left;
}

.menu-item {
    font-size : 16px;
    padding : 8px 16px;
    float : left;
    line-height : 1;
}

.clearfix::after { /* float : left 부작용 없애기 */
    content:"";
    display : block;
    clear : both;
}

/*  float : 자식요소를 정렬
    flex  : 부모에게 정렬 속성
            반응형 웹 제작 시 최적화
            자식 요소를 배치 용이
            margin 불편함 해소

*/